<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdailiao.dao.KindDao" >
	
    <select id="getAll" resultType="com.xdailiao.entity.Kind">
        select kindid,kindname from kind
    </select>
</mapper>